<ion-header>
  <ion-toolbar>
      <!--<ion-back-button (click)="goBack()"></ion-back-button>-->
    <ion-title>Images</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h3 class="instruction">{{displayInstruction}}</h3>
    <!--<div *ngIf= 'readyToTakePicture'>{{openCam()}}</div>-->
    <div class="imgBox">
      <img src="{{image}}">
    </div>
    
</ion-content>

<ion-footer>
  <div class="c" *ngIf="!hasTakenImage">
    <ion-button  (click)="openCam()" class="footerButton" expand="fill">Open Camera</ion-button>
  </div>
  <div class="c" *ngIf= 'hasTakenImage'>
    <ion-button  (click)="openCam()" class="footerButton" expand="fill">Retake Picture</ion-button>
    <ion-button  (click)="nextImage()" class="footerButton" expand="fill">Confirm</ion-button>
  </div>  
</ion-footer>
